body {
  font-family: arial;
}

.container {
  display: flex;
}

.but {
  background-color: skyblue;
  color: white;
  margin: 2px;
  width: 100px;
  border-radius: 5px;
  text-align: center;
  padding: 10px 0 10px 0;
}


.but:hover {
  cursor:pointer;
}

.hover {
  background-color: grey;
}

.clicked {
  background-color: black;
}